.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.errorToast {
    display: flex;
    width: 50em;
    border: 0.1em red solid;
    color: red;
    background-color: #ffbeaf;
    border-radius: 1em;
    margin: 0.2em;
    padding: 1em;
    text-align: left;
  }


.warningToast {
  width: 50em;
  border: 0.1em #ffa64d solid;
  color: #ff9705;
  background-color: #ffe6cc;
  border-radius: 1em;
  margin: 0.2em;
  padding: 1em;
  text-align: left;
}

.correctToast {
  width: 50em;
  border: 0.1em green solid;
  color: green;
  background-color: #b0ffb1;
  border-radius: 1em;
  margin: 0.2em;
  padding: 1em;
  text-align: left;
}

.loginForm {
  width: 25em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  label {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
  }
  input {
    margin: 1em;
  }
}
