.header{
  display: flex;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  margin-left: 4em;
  height: 14em;
}

.logoContainer{
  display: flex;
  margin-top: 1em;
  margin-right: 4em;
  flex-direction: row;
}

.nameContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttons{
  display: flex;
  justify-content: flex-end;
  margin-left: 4em;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.turqButton {
	all:unset;
	user-select: none;
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:0.5em;
  display:inline-block;
  margin:0.5em;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1.2em;
	font-weight:bold;
	padding:0.7em;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.turqButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.turqButton:active {
	position:relative;
	top:1px;
}

.redButton {
	all:unset;
	user-select: none;
	box-shadow: 0px 10px 14px -7px #762d1c;
	background:linear-gradient(to bottom, #ee6a4a 5%, #ee3b11 100%);
	background-color:#ea7a60;
	border-radius:0.5em;
  display:inline-block;
  margin:0.5em;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1.2em;
	font-weight:bold;
	padding:0.7em;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.redButton:hover {
	background:linear-gradient(to bottom, #ea6749 5%, #fa441a 100%);
	background-color:#ea6749;
}
.redButton:active {
	position:relative;
	top:1px;
}

.greenButton {
	all:unset;
	user-select: none;
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #88ff7d 5%, #51ed42 100%);
	background-color:#88ff7d;
	border-radius:0.5em;
  display:inline-block;
  margin:0.5em;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1.2em;
	font-weight:bold;
	padding:0.7em;
	text-decoration:none;
	text-shadow:0px 1px 0px #71f564;
}

.greenButton:hover {
	background:linear-gradient(to bottom, #71f564 5%, #98f28f 100%);
	background-color:#98f28f;
}
.greenButton:active {
	position:relative;
	top:1px;
}